/* HEADER */

#header {
    height: 100px;
    background-color: var(--blue-color);
    display: flex;
    align-items: center;
}

.header__logo-img {
    margin-left: 10px;
    height: 80px;
    width: 80px;
}

.search-bar {
    position:relative;
    margin: 0 auto;
    width: 600px;
    height: 45px;
    transform: translateX(-60px);
}

.search-bar__text {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border-style: none;
    outline: none;
    font-size: 1.4rem;
    padding-left: 10px;
}

.search-bar__icon {
    width: 25px;
    height: 25px;
    position:absolute;
    right: 10px;
    top: 10px;
}

.search-bar__icon:hover {
    cursor: pointer;
    opacity: 80%;
}

.header__advanced {
    position: absolute;
    right: 30px;
}

.header__advanced-icon {
    padding: 5px;
    margin: 0 20px;
    font-size: 2.4rem;
    color: #FFF;
}

.header__advanced-icon:hover {
    cursor: pointer;
    color: var(--orange-color);
}

.header__user {
    display: inline-block;
    position: relative;
    cursor: pointer;
    padding-bottom: 10px;
}

.header__user:hover .header__advanced-icon {
    color: var(--orange-color);
}

.header__user:hover .header__user-dropdown {
    display: block;
}

.header__user-dropdown {
    display: none;
    width: 160px;
    height: 200px;
    background-color: #FFF;
    position: absolute;
    top: 30px;
    right: 35px;
    border-radius: 12px;
    box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.2);
    list-style: none;
    padding: 0;
}

.header__user-dropdown-item {
    padding-left: 20px;
    height: 20%;
    line-height: 40px;
    font-size: 1.4rem;
    font-weight: 450;
    width: 100%;
    color: var(--text-color);
}

.header__user-dropdown-item:hover {
    cursor: pointer;
    background-color: var(--blue-color);
    color: #FFF;
}